.finaleContainer {
  background-color: var(--strong-white);
  width: 100vw;
  height: 100vh;
  transition: all 1.5s;
}

.ending {
  font-family: Roboto, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-transform: uppercase;
  cursor: pointer;
}

.ending:hover {
  font-family: Averia Libre, sans-serif;
}

.end1{
  display: block;
  font-size: 13rem;
  width: 100%;
  text-align: center;
}

.end2{
  font-size: 7rem;
  width: 100%;
  text-align: center;
  animation: appearIn 1s;
}

.end3{
  font-size: 5.5rem;
  width: 100%;
  text-align: center;
  animation: appearIn 1s;
}

.end4{
  font-size: 4rem;
  width: 100%;
  text-align: center;
  animation: appearIn 1s;
}

.end5{
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
  animation: appearIn 1s;
}

.end6{
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  animation: appearIn 1s;
  color: var(--soft-white)
}

.end7{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: appearIn 2s 2s forwards;
  color: var(--strong-white)

}

.end7 p{
  font-size: 4rem;
  text-align: center;
}

.end8{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  animation: appearIn 2s forwards;
  color: var(--strong-white)

}

.end9{
  opacity: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-size: 4rem;
  animation: appearIn 2s .5s forwards;
  color: var(--strong-white);

}

.end9 span{
  font-family: Averia Libre, sans-serif;
  font-style: italic;
  font-size: 4rem;
}

.end9 p{
  font-family: Roboto, sans-serif;
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 300;
}

.end10{
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: appearIn 2s forwards;
  color: var(--strong-white)
}

.end10 h1{
  font-family: Averia Libre, sans-serif;
  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.firstWonCont, .secondWonCont{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--strong-white)
}

.firstWonCont p:nth-child(1) {
  color: red;
  text-transform: uppercase;
  padding-bottom: 6rem;
}

.firstWonCont h2{
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 5rem;
  font-style: italic;
  text-align: center;
  padding-bottom: 6rem;
}

.secondWonCont p:nth-child(3) {
  padding-bottom: 6rem;
  font-size: 3rem;
}

.secondWonCont{
  display: none;
  opacity: 0;
  animation: appearIn 1.3s .5s forwards;

}

.next{
  font-family: Averia Libre, sans-serif;
  border-radius: 1rem;
  background-color: var(--soft-white);
  color: var(--strong-dark);
  /* position: absolute; */
  align-self: flex-end;
  bottom: 4rem;
  right: 15rem;
  cursor: pointer;
  padding: 1rem 4rem;
  margin-right: 10rem;
  margin-top: 10rem;
  text-align: center;
  width: 19rem;
}

.next:hover{
  transition: all .05s;
  transform: scale(1.1)
}

.next:active{
  transition: all .05s;
  transform: scale(1)
}

.stats p{
  padding-top: 3rem;
  font-size: 3rem;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.stats{
  padding-top: 8rem;
}

#gameOverText{
  top: 5rem;
  padding-top: 14rem;
  padding-bottom: 4rem;
  font-size: 5rem;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 4rem;
  border-bottom: 2px solid var(--strong-white)
}

.finalPep{
  padding-top: 5rem;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;


}


#endBtn{
  font-family: Averia Libre, sans-serif;
  border-radius: 1rem;
  background-color: var(--soft-white);
  color: var(--red);
  /* position: absolute; */
  /* bottom: 10rem;
  right: 15rem; */
  align-self: flex-end;
  cursor: pointer;
  padding: 1rem 4rem;
  /* margin: 10rem 0 0 0; */
}

#endBtn:hover{
  transition: all .05s;
  transform: scale(1.1)
}

#endBtn:active{
  transition: all .05s;
  transform: scale(1)
}


.gameDescription{
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 300;
}

.gameWon{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.end11{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#gameWonText{
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  padding-bottom: 7rem;
}

.statsWon p{
  padding-top: 3rem;
  font-size: 3rem;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.statsWon{
  padding-top: 8rem;
}