

body {
  background: rgba(35,43,51,1);
  background-image:   linear-gradient(to right, rgba(232,232,232,1) 0%, rgba(230,230,230,1) 15%, rgba(255,255,255,1) 52%, rgba(235,235,235,1) 88%, rgba(230,230,230,1) 100%);
  overflow-x: hidden;
}

h1, h3 {
 color: var(--soft-white)
}

a{
  color: inherit;
  text-decoration: none;
}

.titleContainer h1{
  font-family: Averia Libre, sans-serif;
  font-size: 12rem;
  display: inline-block;
  padding: 0 2rem;
  animation: fadeInBig;
  animation-duration: 1.5s;
  
}

@keyframes fadeInBig {
  from {
    opacity: 0;
    transform: scale(1.4)
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

h3{
  margin-top: 2.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  transform: translateY(0);
  animation: appearKnock 1s .5s forwards;
}



.headerContainer{
  width: 100vw;
  height: 122vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: url("/img/darkHallway.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 102vh, 0 100%);
}

.titleContainer{
  padding: 1rem 2rem;
  animation: borderIn;
  animation-duration: 2.5s;
  border-bottom: 2px solid var(--light-dark);
  margin: 0 auto;
}

@keyframes borderIn{
  0%{  border-bottom: none}
  80%{  border-bottom: none}
  100%{  border-bottom: 2px solid var(--light-dark)}
}





.intermediateDiv{
  height: 200px;
  transform: skewY(-7deg);
  -webkit-transform: skewY(-7deg);
  padding: 10rem 0;

}

.intermediateDiv img{
  width: 100%;
  max-height: 200px;
}




.sectionContainer{
  width: 100vw;
  height: 120vh;
  margin-top: -10rem;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  color: var(--soft-white);
  position: relative;
  background-image: url("/img/introSectionBG.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
}

.sectionContainer h2{
  font-family: Averia Libre, sans-serif;
  font-size: 8.5rem;
}

.introContainer{
  width: 70%;
  padding-bottom: 2.5rem;

}

.sectionContainer p{
  font-family: Roboto, sans-serif;
  font-size: 2.6rem;
  line-height: 1.8;
  font-weight: 300;
  width: 70%;
  padding-top: 2.5rem;
}

.titleContainer{
  margin-top: -20rem;
}

.knockIntro {
  width: 85%;
  text-align: right;
  bottom: 30px;
  right: 150px;
  font-family: Averia Libre, sans-serif;
  text-transform: uppercase;  
  font-size: 5rem;
  margin: 5rem;
  opacity: 0;
  
}

.knockIntro:hover {
  cursor: pointer;
  transition: color .5s;
  color:  var(--red);

}

.knockAppear{
  animation: appearKnock 1s 2s forwards;
}


@keyframes appearKnock{
  0%{  opacity: 0 }
  100%{  opacity: 1 }
}


@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.fadeInRight {
  animation-duration: 10s;
  animation-fill-mode: forwards;  

  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.introDescription{
  transform: translateX(-8rem);
  opacity: 0;
  transition: all 1s;
}

.introContainer{
  transform: translateX(-4rem);
  opacity: 0;
  transition: all 2s;
}

.appear{
  opacity: 1;
  transform: translateX(0)
}

.infoContainer{
  width: 70%;
  margin: 0 auto;
  border-left: 2px solid var(--soft-white);
  padding-left: 7rem;
}

/* /////////////////// SECOND PART */

.secondPart, .secondPart2, .secondPart3{
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  position: relative;
}

.secondPartTitle{
  color: rgba(255, 255, 255, 0);
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: Roboto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.secondPartTitle span {
  display: block;
  color:  var(--red);
  font-size: 10rem;
  animation: endPresentation ease-in-out 3s 1s forwards;
}

@keyframes endPresentation{
  0%{font-size: 10rem}
  100%{ font-size: 25rem}
}

.appear2{
  animation: appearIn 2s forwards;
}

.appear0{
  animation: appearIn .01s forwards;
}

.appear2d2{
  animation: appearIn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.appear3{
  animation: appearIn 3s forwards;
}

.appear3d1{
  animation: appearIn 3s 1s forwards;
}

.appear4{
  animation: appearIn 4s forwards;
}

.secondPart2{
  background-color: var(--strong-dark);
  text-transform: uppercase;
  transition: opacity 2s;
}

.firstSent{
  color: var(--soft-white);
  position: absolute;
  top: 75vh;
  left: 5%;
  font-family: Averia Libre, sans-serif;
  font-size: 6rem;
  opacity: 0;
}
.secondSent{
  color: var(--soft-white);
  position: absolute;
  top: 0;
  left: 55%;
  font-family: Averia Libre, sans-serif;
  font-size: 5rem;
  opacity: 0;
}
.thirdSent{
  color: var(--soft-white);
  position: absolute;
  top: 175vh;
  left: 75%;
  font-family: Averia Libre, sans-serif;
  font-size: 6rem;
  opacity: 0;
}
.fourthSent{
  color: var(--soft-white);
  position: absolute;
  bottom: 120vh;
  left: 25%;
  font-family: Averia Libre, sans-serif;
  font-size: 8rem;
  opacity: 0;
}
.fifthSent{
  color: var(--soft-white);
  position: absolute;
  top:  -45vh;
  left: 5vw;
  font-family: Averia Libre, sans-serif;
  font-size: 6rem;
  opacity: 0;
}

.sixthSent{
  color: var(--soft-white);
  position: absolute;
  top: -60vh;
  right: 5vw;
  font-family: Averia Libre, sans-serif;
  font-size: 9rem;
  opacity: 0;
}

.seventhSent{
  color: var(--soft-white);
  position: absolute;
  top: 120vh;
  left: 5vw;
  font-family: Averia Libre, sans-serif;
  font-size: 10rem;
  opacity: 0;
}

.eighthSent{
  color: var(--soft-white);
  position: absolute;
  top: -70vh;
  left: 5vw;
  font-family: Averia Libre, sans-serif;
  font-size: 10rem;
  opacity: 0;

}

.secondPart3{
  height: 120vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.secondP{
color: var(--soft-white);
font-size: 5rem;
font-family: Averia Libre, sans-serif;
width: 70%;
text-align: center;
margin: 0 auto;
padding: 28vh 0 2vh 0;
text-transform: uppercase;


}

.secondKnock{
  color: var(--red);
  font-size: 7rem;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  /* border-bottom: 1px solid white; */
  padding-bottom: 1rem;
  display: block;
  width: 40%;
  opacity: 0;
}

.secondKnock:hover:after{
  content: 'KNOCK KNOCK';
  font-family: Averia Libre, sans-serif;
  cursor: pointer;
  transition: color .35s;
}

.secondKnock::after{
  content: 'Go to sleep';
  cursor: pointer;
  color: var(--soft-white)
}

.secondKnock:hover::after {
  content: 'Knock Knock';
  font-family: Averia Libre, sans-serif;
  color: var(--red)
}


/* //////////////// THIRD PART //////////////// */

.thirdPart{
  width: 100vw;
  height: 100vh;
  
}

.thirdPartOne{
  width: 100vw;
  height: 160vh;
  background-color: var(--strongest-dark);
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
  margin-top: -20vh;
  color: var(--strong-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;


}

.thirdPartOne p{
  padding: 4rem 7rem;
  font-size: 3.5rem;
  font-family: Averia Libre, sans-serif;
  text-align: center;
}
.thirdPartTwo{
  width: 100vw;
  height: 100vh;
  background-image: url("/img/thirdsectionphoto.jpg") ;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
}

.secondInter{
  height: 40vh;
  margin-top: -20vh;
  background-color: white;
}

.onePthird{
  opacity: 0;
}

.faderino1{
  animation: fadeInRight 1s 1s forwards;

}

.faderino2{
  animation: fadeInLeft 1s 2.5s forwards;

}
.faderino3{
  animation: fadeInRight 1s 4s forwards;

}
.faderino4{
  animation: fadeInLeft 1s 5.5s forwards;

}
.faderino5{
  animation: fadeInRight 1s 7s forwards;

}

.twoPthird{
  opacity: 0;
}
.threePthird{
  opacity: 0;
  
}
.fourPthird{
  opacity: 0;
  
}
.fivePthird{
  opacity: 0;
  
}

.lastOne h2{
  color: var(--red);
  font-family: Averia Libre, sans-serif;
  font-size: 6rem;
  text-align: center;
  padding: 15rem 5rem;
  animation: fadeInTop 2s forwards;
  opacity: 0;
}

.lastOne {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  transition: all 1s;
}

.lastKnock{
  /* animation: fadeInBottom 1s forwards; */
  font-size: 5rem;
  border-bottom: none;
  color: var(--red);
  font-size: 7rem;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: Averia Libre, sans-serif;
  padding-bottom: 1rem;
  display: block;
  width: 40vw;
  /* opacity: 0; */

}


.lastKnock:hover{
  cursor: pointer;
  transform: scale(1.2) !important;
}

.lastKnock:active{
  cursor: pointer;
  transform: scale(1) !important;
}


#die{
  text-align: center;
  
  animation: heartbeat 1s infinite;

}

#die:hover{
  color: var(--red)

}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  70%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

